{{ define "header" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
        <title>Convert YouTube to Podcast Feed</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta property="og:title" content="Convert YouTube to Podcast feed" />
        <meta property="og:type" content="" />
        <meta property="og:url" content="" />
        <meta property="og:image" content="" />

        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png">

        <meta name="theme-color" content="#fafafa">
        <link href="./assets/cirrus.min.css" rel="stylesheet">
        <link rel="stylesheet" href="./assets/styles.css" />
</head>

<body class="min-h-screen bg-gray-100">
{{ end }}
